<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CPSS Telemetry Uplink</title>
</head>
<body>
    <h1>CPSS Telemetry Uplink</h1>

    <form method="post">
        <p>Port: {{form['port']}}</p>
        <select name="port" value= "{{form['port']}}" >
            {% for p in form.ports %}
                <option value={{p}}>{{p}}</option>
            {% endfor %}
        </select>
    <input type="submit" value="Select">
    </form>

    <br>

    <table width="100%" cellspacing="0" border >
        <tr>
            <th width="12.5%"> Action A  </th>
            <th width="12.5%"> Action B  </th>
            <th width="12.5%"> Action C </th>
            <th width="12.5%"> Action D </th>
            <th width="12.5%"> Action E  </th>
            <th width="12.5%"> Action F  </th>
            <th width="12.5%"> Action G </th>
            <th width="12.5%"> Action H </th>
        </tr>
        <tr align="center">
            <td> <i>{{ 'active' if form['action_A'] else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_B else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_C else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_D else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_E else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_F else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_G else 'inactive'}}</i> </td>
            <td> <i>{{ 'active' if form.action_H else 'inactive'}}</i> </td>
        </tr>
        <tr align="center">
            <td>
                <form method="post">
                    <input type="submit" name="A">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="B">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="C">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="D">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="E">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="F">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="G">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="submit" name="H">
                </form>
            </td>
        </tr>
    </table>
    </form>
</html>